:root{
    --bg-primary: #f5f5f5;
    --color-primary: black;
}

body{
    min-height: 100vh;
}

#root{
    height: 100vh;
    background-color: var(--bg-primary);
}

#sidebar-nav{
    width: 250px;
}